body {
  height: 100%;
}

main{
  min-height: 60vh;
}

.pg-admin {
  min-height: 66vh
}

.img-fluid-admin {
  max-width: 30%;
  height: auto;
}

/* ## material ## */

.card-title {
  font-family: "Satisfy", sans-serif;
  width: 100%;
  text-align: center;
  font-size: 22px;
  height: 43px;
  background-color: #b21f28;
  color: white;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
}

.btn-card-receitas {
  background-color: #b21f28;
  border-color: #b21f28;
  color: white;
}

.div-img-responsive {
  /* border: 1px solid black; */
  width: 250px;
  height: 250px;
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}

.img-resposive {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.comentario-sac{
  background: aliceblue;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}